<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Weak</string>
				<string>Medium</string>
				<string>Strong</string>
			</array>
			<key>Values</key>
			<array>
				<integer>5</integer>
				<integer>10</integer>
				<integer>15</integer>
			</array>
			<key>Title</key>
			<string>PasswordStrength</string>
			<key>Key</key>
			<string>PasswordStrength</string>
			<key>DefaultValue</key>
			<string>5</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>DataBase</string>
				<string>Array</string>
			</array>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Title</key>
			<string>StorageMethod</string>
			<key>Key</key>
			<string>PasswordStorageMethod</string>
			<key>DefaultValue</key>
			<string>1</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
